{% extends 'base.html.twig' %}

{% block title %}
	Home |
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="text-center mt-5">Montres de Luxes
		</h1>
		<div class="row mt-5">
			{% for produit in produits %}
				<div class="col">
					{% include "Components/_produitsCards.html.twig" %}
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
