{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1>Nos produits phares</h1>

	<div class="row">
		{% for product in products %}
			<div class="col">
				{% include "Frontend/product/_product_card.html.twig" with {'p': product} %}
			</div>
		{% endfor %}
	</div>

	<hr>

	<h2>Un service irreprochable</h2>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, neque.
	</p>

	<div class="row">
		{% include "Components/_assurance.html.twig" with {
			'color': 'primary',
			'icon': 'fas fa-truck',
			'text': "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, neque."
		} %}
		{% include "Components/_assurance.html.twig" with {
			'color': 'success',
			'icon': 'fas fa-check',
			'text': "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, neque."
		} %}
		{% include "Components/_assurance.html.twig" with {
			'color': 'warning',
			'icon': 'fas fa-lock',
			'text': "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, neque."
		} %}
	</div>
{% endblock %}
