{% extends 'base.html.twig' %}

{% block title %}
	Modification Produits |
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1>Modification Produits</h1>
	{% include "Backend/Produits/_form.html.twig" with {button_label: "Modifier"} %}

{% endblock %}
